<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Помощь</title>
</head>
<body>
    <h1>Помощь</h1>
    <p>Эта программа отвечает на вопросы на основе содержания документации в папке data.</p>
    <p>Для этого она читает файлы (поддерживаются txt, rtf, doc, ppt, xls, pdf, html и многое другое), делит их на чанки и векторизует эти чанки с помощью эмбеддинговой нейросети, формируя векторную базу данных.</p>
    <p>Запрос пользователя также векторизуется и сравнивается с базой данных. Несколько наиболее похожих чанков передается как контекст для LLM, которая с их помощью отвечает на исходный запрос.</p>
    <p>При первом запуске, или при изменении/ добавлении файлов в папке data во время работы программы, нажмите ОБНОВИТЬ БАЗУ ДАННЫХ.</p>
    <a href="/">Назад</a>
</body>
</html>
